/* Editor.css */

.editor-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    overflow: hidden; /* 추가: overflow 설정 */
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.run-button {
    margin-right: 10px;
}

.input-form {
    margin-top: 10px;
}

.input-field {
    background-color: #282c34;
    color: white;
    border-color: #313131;
    width: 100%;
    max-width: 1000px;
}

@media (max-width: 1200px) {
    .input-field {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .input-field {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .button-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .run-button {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .input-field {
        width: 100%;
    }
}
